@charset "UTF-8";

:root {
  --BlueDeep: #000859;
  --BlueMedium: #1e2a8a;
  --BlueLight: #3f5ef5;
  --Orange: #fd4300;
  --WhiteSoft: #f7f7ff;
  --Black: #000000;
  --DarkGray: #1a1a1a;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #f7f7ff;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 999;

  background: rgba(255, 255, 255, 0.158);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

header > a > p:hover {
  text-decoration: underline;
}
header > a > #home-link {
  border-radius: 50%;
  height: 25px;
}
.flags-translate {
  height: 25px;
  width: auto;
  cursor: pointer;
  margin-left: 15px;
}

main {
  background-color: #1e2a8a;
}
main > div {
  padding-top: 40px !important;
}
main > div > h1 {
  font-weight: bolder;
}
main > div > h3 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid;
  width: 12ch;
  animation:
    typing 2s steps(13),
    blink 0.5s infinite step-end;
  color: #fd4300;
}
main > div > img {
  height: 350px !important;
  width: auto !important;
}

#about-me {
  padding-top: 100px !important;
  background-color: #1a1a1a;
}
#about-me > article > h1 {
  margin-bottom: 35px !important;
  color: #3f5ef5;
  font-weight: bold;
}

#projects {
  padding-top: 100px !important;
  background-color: #1e2a8a;
}
#projects > h1 {
  margin-bottom: 35px !important;
  color: #fd4300;
  font-weight: bold;
}
#projects > div > div > .card {
  height: 100%;
  background-color: #1a1a1a;
  box-shadow: -5px 5px 5px #000000;
  color: #f7f7ff !important;
}
#projects > div > div > .card > a > .card-img {
  min-height: 250px !important;
}
#projects > div > div > .card > .card-body {
  min-height: 300px;
}
#projects > div > div > .card > .card-body > p {
  font-size: 0.8em;
}
#projects > div > div > .card > .card-body > .card-title {
  color: #3f5ef5 !important;
  font-weight: bold;
}
#projects > div > div > .card > .card-footer > .badge {
  background-color: #3f5ef5;
  color: #1a1a1a;
  font-weight: bold;
}

#tools {
  padding-top: 100px !important;
  background-color: #1a1a1a;
}
#tools > h1 {
  margin-bottom: 35px !important;
  color: #3f5ef5;
  font-weight: bold;
}
#tools > div > div > .card > .card-body > .img {
  margin-bottom: 10px;
  height: 50px !important;
  width: 50px !important;
}
#tools > div > div > .card {
  background-color: #1e2a8a !important;
  color: #f7f7ff;
  min-height: 300px;
  box-shadow: -5px 5px 5px #000000;
}
#tools > div > div > .card > .card-header {
  min-height: 70px !important;
}

#contact {
  padding-top: 100px;
  background-color: #1e2a8a;
  color: #f7f7ff;
}
#contact > div > div > a > .img {
  background-color: #1a1a1a;
  padding: 5px;
  border-radius: 50%;
  height: 50px !important;
  width: 50px !important;
  margin: 0px 15px;
}

@media screen and (min-width: 720px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  main > .text-center {
    width: 25%;
  }
  main > div > h1,
  main > div > h3,
  main > div > p {
    text-align: start !important;
  }
  main > div > h3 {
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    width: 100% !important;
    animation:
      typing 2s steps(13),
      blink 0.5s infinite step-end;
    color: #fd4300;
  }
  #about-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  #about-me > article {
    width: 50vw;
    padding: 15px;
  }
  #about-me > div > div {
    width: 50vw;
  }
  #about-me > div > img {
    height: 500px !important;
    width: auto;
    display: block !important;
    box-shadow: -5px 5px 5px #000000;
    border-radius: 10%;
    margin: auto;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
